# Loading Libraries & Data

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import numpy as np 
from sklearn.metrics import mean_squared_error
df=pd.read_csv("data.csv")

          type      htemp      ltemp        radth   pressure    maxdays
0     Bacteria  64.376746 -45.049532  1689.052418   1.734047  51.166667
1     Bacteria  26.764212   9.206449  5913.488436   1.099213  51.500000
2     Bacteria  45.394514 -98.931866   341.913123   5.516176  34.833333
3        Human  35.060594  -6.713927  6121.223560  10.034559  84.166667
4     Bacteria  45.851849 -78.102437  1939.395352   7.726826  51.000000
...        ...        ...        ...          ...        ...        ...
3995  Bacteria  27.935398 -12.043417  4902.994782   8.556785  67.833333
3996      Fish  83.666399 -49.042077  6652.860313   8.172271  35.000000
3997     Human  78.678832 -29.635212  4630.175252   4.193692  34.666667
3998      Fish  17.180233 -38.777456  3520.911860  10.570668  34.666667
3999      Fish  80.702561 -37.738729  2841.135648   4.718253  51.333333

[4000 rows x 6 columns]

# Preproccessing data

In [13]:
df.drop(columns='type',inplace=True)
X=df.drop(columns='maxdays')
y=df['maxdays']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Training ML Model

In [23]:
clf = RandomForestRegressor(max_depth=2, random_state=0)
clf.fit(X_train, y_train)
y_pred=clf.predict(X_test)

In [28]:
rmse = float(format(np.sqrt(mean_squared_error(y_test, y_pred)),'.3f'))
print("\nRMSE:\n",rmse)

RMSE:
 16.55

In [46]:
yy=clf.predict([[-25,80,3500,15000]])
print(yy)

[45.54684772]

c:\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(